@using OneFrameCGPTPlayground.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@inject IKsStringLocalizer<AccountController> _localizer

@{
    Layout = "~/src/Views/Shared/_NoticeLayout.cshtml";
    ViewData["Title"] = _localizer["PasswordEmailSent"];
}


<h1 class="fw-bolder fs-2qx text-gray-800 mb-7">@_localizer["PasswordChanged"]</h1>
<div class="fw-bold fs-3 text-muted mb-15">
    @_localizer["PasswordChangedSuccessfully"].
    <br />@_localizer["YouCanLogin"].
</div>
<div class="text-center">
    <a href="/accounts/login" class="btn btn-primary btn-lg fw-bolder">@_localizer["SignIn"]</a>
</div>
