<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
         <add key="oneframe_feed" value="https://pkgs.dev.azure.com/oneframe-community-editon/oneframe/_packaging/dotnet-packages/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
    <oneframe_feed>
      <add key="Username" value="oneframe@outlook.com.tr" />      
      <add key="ClearTextPassword" value="4aftvjhqve2vr2cjstyt5dt2cr7iaj67pusiyb5zmr2omixug4yq" />
    </oneframe_feed>
</packageSourceCredentials>
</configuration>
