@using OneFrameCGPTPlayground.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@model OneFrameCGPTPlayground.Mvc.Models.Home.IndexModel
@inject IKsStringLocalizer<HomeController> _localizer

@{
    ViewData["Title"] = _localizer["HomePage"];
}
@section scripts
{
    <script src="~/metronic/assets/js/widgets.bundle.js"></script>
    <script src="~/metronic/assets/js/custom/widgets.js"></script>
}
@section pageActions
{

}
<div class="row gy-5 g-xl-8">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">@(_localizer["UploadFilesTitle"]) </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        Source
                    </div>
                    <div class="col-6">
                        target
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>