@using OneFrameCGPTPlayground.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@using DocumentFormat.OpenXml.Office2016.Presentation.Command
@model OneFrameCGPTPlayground.Mvc.Models.Home.UploadModel
@inject IKsStringLocalizer<HomeController> _localizer
@{
    ViewData["Title"] = _localizer["HomePage"];
}
@section scripts
    {
    <script src="~/metronic/assets/js/widgets.bundle.js"></script>
    <script src="~/metronic/assets/js/custom/widgets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
}
@section pageActions
    {

}
<div class="row gy-5 g-xl-8">
    <div class="col-12">
        <form action="http://localhost:44308/chatgpt/compare"
              enctype="multipart/form-data"
              onsubmit="AJAXSubmit(this);return false;"
              method="post">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3 class="card-title">@(_localizer["UploadFilesTitle"]) </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <dl>
                                <dt>
                                    <label asp-for="SourceFile">Please select source file for comparison.</label>
                                </dt>
                                <dd>
                                    @Html.EditorFor(m => m.SourceFile, new { type = "file" })
                                </dd>
                            </dl>
                        </div>
                        <div class="col-6">
                            <dl>
                                <dt>
                                    <label asp-for="TargetFile">Please select target file for comparison.</label>
                                </dt>
                                <dd>
                                    @Html.EditorFor(m => m.TargetFile, new { type = "file" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" id="btnUpload" type="submit" value="Upload">@(_localizer["Upload"])</button>
                </div>
            </div>
            <div class="card shadow-sm mt-5">
                <div class="card-header">
                    <h3 class="card-title">
                        ChatGPT Karşılaştırma Sonucu
                    </h3>
                </div>
                <div class="card-body">
                    <div id="txtResult"></div>
                    <output name="result"></output>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 mt-5">
        
    </div>
    @*<div class="col-12">
    <form method="post" asp-action="Upload" enctype="multipart/form-data">

    </form>
    </div>*@
</div>
<script>
    //Dropzone.options.uploadForm = {
    //    autoProcessQueue: false
    //            paramName: "files" //default-değeri "file"dır. back-end kullandığımız parametre adı ile aynı olmalıdır.
    //};
</script>

<script>
    async function AJAXSubmit(oFormElement) {
        var resultElement = oFormElement.elements.namedItem("result");
        const formData = new FormData(oFormElement);

        try {
            compare(formData).then(function(response){ 
                if (response.isSuccessful) {
                    $("#txtResult").html(response.result);
                    //resultElement.value = response.result;
                }
            });

            //const response = await fetch(oFormElement.action, {
            //    method: 'POST',
            //    body: formData
            //});

            //debugger;
            //if (response.ok) {
            //    window.location.href = '/';
            //}

            //resultElement.value = 'Result: ' + response.status + ' ' +
            //    response.statusText;
        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function compare(data) {
        const response = await fetch('http://localhost:44308/chatgpt/compare', {
            method: 'POST',
            body: data
        });

        const serviceResponse = await response.json();
        return serviceResponse;
    }

</script>